html {
  font-size: 150%;
  color: white;
  background-color: #222;
}

body {
  line-height: 1rem;
  font-size: 0.75rem;
  /* scroll-snap-type: x mandatory; */
}

html,
body,
#root,
.panels {
  height: 100%;
}

.panels {
  --width: 100vw;
  --totalMargin: 4.5vw;
  --panel-count: 1;
  --margin: (var(--totalMargin) / (var(--panel-count) - 1));
  display: grid;
  grid-gap: 0.5rem;
  grid-auto-flow: column;
  grid-auto-rows: 100%;
  width: fit-content;
  padding: 0.5rem calc((100vw - var(--width)) / 2 + var(--totalMargin));
}

@media (min-width: 29rem) {
  .panels {
    --width: 25rem;
    --totalMargin: 2rem;
  }
}

.panel {
  --order: 0;
  --panel-width: calc(var(--width) - var(--totalMargin) * 2);
  /* scroll-snap-align: center; */
  width: var(--panel-width);
  /* max-width: 25rem; */
  position: sticky;
  left: calc(var(--order) * var(--margin));
  right: calc(
    ((var(--panel-count) - 1) - var(--order)) * var(--margin) -
      var(--panel-width)
  );
  z-index: var(--order);
  background-color: black;
  border: 2px solid;
  /* border-radius: 0.25rem; */
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable {
  padding: 1rem;
}
